##For compatibility of Linux, languages file should be included, while Windows is free from it.
languages/*

Source/ID_*

main.bmp

actions.txt
conversation.txt
dialog_states.txt
factions.txt
info_pages.txt
item_kinds1.txt
map_icons.txt
map.txt
menus.txt
meshes.txt
mission_templates.txt
music.txt
particle_systems.txt
parties.txt
party_templates.txt
postfx.txt
presentations.txt
quests.txt
quick_strings.txt
scene_props.txt
scenes.txt
scripts.txt
simple_triggers.txt
skills.txt
skins.txt
sounds.txt
strings.txt
tableau_materials.txt
tag_uses.txt
triggers.txt
troops.txt
variables.txt
variable_uses.txt

